@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center; 
}
h1 {
  color: red  ;
  font-weight: bold;
  font-size: 75px;
  text-shadow: 5px 8px 5px indianred;
}  
.bg-red {
  background: red;
}
.button {
  font-weight: bold;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.button{
  width: 80px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  color: darkblue;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 340px;
  font-size: 30px;
  margin: 0;
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: right;
}

#hor:hover{
  background-color: red;
}
